@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.App {
  text-align: center;
  height: 100vh;
  background-image: url("../public/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  background-color: hsl(235, 21%, 11%);
  font-family: "Josefin Sans", sans-serif;
  color: hsl(234, 39%, 85%);
}

.drag-and-drop {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

h1 {
  padding-top: 12%;
  letter-spacing: 15px;

  margin: 0;
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.list-container {
  margin-top: 1em;
  border-radius: 5px;
  overflow: hidden;
}
.characters {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.input-container {
  border-radius: 5px;
}

.characters li,
.input-container {
  background-color: hsla(235, 24%, 19%, 1);
  width: 400px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.hide-delete {
  visibility: hidden;
}
.characters li {
  border-bottom: hsl(234, 11%, 52%) 1px solid;
  text-align: start;
}

.characters p {
  padding-top: 1%;
  max-width: none;
  margin: 0;
}

.card {
  display: flex;
  justify-content: space-between;
}
.card:hover .hide-delete {
  visibility: visible;
}
.card:hover .checkbox {
  background: linear-gradient(hsla(235, 24%, 19%, 1), hsla(235, 24%, 19%, 1))
      padding-box,
    linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
      border-box;

  border: 1px solid transparent;
}

.input-container {
  display: flex;
}
.input {
  width: 85%;
  height: 75%;
  border: none;
  font-size: 18px;
  background-color: hsla(235, 24%, 19%, 1);
}
.input:focus {
  outline: none;
}
.checkbox {
  text-align: center;
  appearance: none;
  height: 30px;
  width: 30px;
  margin-right: 12px;
  border: 1px solid gray;
  border-radius: 50%;
  cursor: pointer;
  background-color: inherit;
  background-clip: content-box;
  box-sizing: border-box;
}
.checkbox:checked {
  background: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12px;
  width: 400px;
  padding: 10px 20px;
  background-color: hsla(235, 24%, 19%, 1);
  color: hsl(234, 11%, 52%);
}

.filter-container {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-inline: 20px;
}
.active {
  color: hsl(220, 98%, 61%);
}

.filter-container > p:hover,
.bottom-container > :last-child:hover {
  cursor: pointer;
  color: hsl(0, 0%, 98%);
}

@media only screen and (max-width: 768px) {
  .App {
    background-size: 200%;
  }
  h1 {
    margin-right: 50%;
  }
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
  }
}
