@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap");

:root {
  --body-bg: hsl(0, 0%, 98%);
  --container-bg: hsl(230, 25%, 95%);
  --shadow: hsl(234, 11%, 52%);
  --decoration: hsl(234, 39%, 85%);
  --hover: hsl(237, 14%, 26%);
  --secondary-color: hsl(233, 14%, 35%);
  --background: url("../public/bg-desktop-light.jpg");
}
.dark {
  --body-bg: hsl(235, 21%, 11%);
  --container-bg: hsl(235, 24%, 19%);
  --shadow: hsl(235, 24%, 19%);
  --secondary-color: hsl(234, 39%, 85%);
  --hover: hsl(236, 33%, 92%);
  --decoration: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);
  --background: url("../public/bg-desktop-dark.jpg");
}

.App {
  text-align: center;
  height: 100vh;
  background-image: var(--background);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  background-color: var(--body-bg);
  font-family: "Josefin Sans", sans-serif;
  color: var(--secondary-color);
}
header {
  width: 15%;
  margin: 0 auto;
  padding-top: 10%;
  display: flex;
  align-items: flex-end;

  margin-bottom: 32px;
  gap: 50%;
}
.drag-and-drop {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

h1 {
  letter-spacing: 15px;

  margin: 0;

  margin-left: -10%;
  color: hsl(236, 33%, 92%);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.list-container {
  margin-top: 1em;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--shadow) 5px 5px 20px;
}
.characters {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.input-container {
  border-radius: 5px;
  box-shadow: var(--shadow) 5px 5px 20px;
}

.characters li,
.input-container {
  background-color: var(--container-bg);
  width: 400px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 21px;
}
.hide-delete {
  visibility: hidden;
}
.characters li {
  border-bottom: var(--decoration) 1px solid;
  text-align: start;
}

.characters p {
  padding-top: 1%;
  max-width: none;
  margin: 0;
  font-weight: 100;
}
.checked {
  text-decoration: line-through;
  color: var(--decoration);
}

.card {
  display: flex;
  justify-content: space-between;
}
.card:hover .hide-delete {
  visibility: visible;
}

.checkbox:hover {
  background: linear-gradient(var(--container-bg), var(--container-bg))
      padding-box,
    linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
      border-box;

  border: 1px solid transparent;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  width: 60%;
  height: 75%;
  border: none;
  font-size: 21px;
  background-color: var(--container-bg);
  color: var(--secondary-color);
  font-weight: 100;
}
.input:focus {
  outline: none;
}
.checkbox {
  text-align: center;
  appearance: none;
  height: 30px;
  width: 30px;
  margin-right: 12px;
  border: 1px solid var(--decoration);
  border-radius: 50%;
  cursor: pointer;
  background-color: inherit;
  background-clip: content-box;
  box-sizing: border-box;
}
.checkbox:checked {
  background: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12px;
  width: 400px;
  padding: 10px 20px;
  background-color: var(--container-bg);
  color: var(--decoration);
}

.filter-container {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-inline: 20px;
}
.active {
  color: hsl(220, 98%, 61%);
}

.filter-container > p:hover,
.bottom-container > :last-child:hover {
  cursor: pointer;
  color: var(--hover);
}

@media only screen and (max-width: 768px) {
  .App {
    background-size: 200%;
  }
  h1 {
    margin-right: 50%;
  }
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
  }
  .characters li,
  .bottom-container {
    width: 90%;
    justify-content: space-around;
  }
  .filter-container {
    gap: 20px;
  }
  .input-container {
    width: 250px;
  }
}
